<!--header-->
<nav class="navbar navbar-expand-sm bg-color " th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- logo -->
    <a class="navbar-brand a" th:text="#{logo_header}" href="../article">Article Management</a>

    <!-- Links of header -->
    <ul class="navbar-nav" style="width: 100%;">

        <li class="nav-item">

            <a class=" a nav-link" th:text="#{menu_article_header}" href="/article">Aritcle</a>
        </li>
        <li class=" a nav-item">
            <a class=" a nav-link" th:text="#{menu_category_header}" href="/category">Category</a>
        </li>
        <li class="a nav-item">
            <a class="a nav-link" th:text="#{menu_aboutus_header}" href="#">About Us</a>
        </li>
    </ul>
    
    <div class="languages" style="width: 100%;text-align: end;">
        <a th:href="@{/article?lang=km}">
            <img src="/img/cambodia.png" alt="Khmer"/>
        </a>
        <a th:href="@{/article?lang=en}">
            <img src="/img/english.png" alt="English"/>
        </a>
    </div>
</nav>
