<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{title}">Title</title>
</head>
<body>

    <div id="main" class="body-container" layout:fragment="content">
        <!--Title-->
        <h1 th:text="${formAdd}?#{article.add}:#{article.update}">Add New Article</h1>

        <!--Form Add Article-->
        <form th:action="${formAdd}?'/add':'/edit'" method="post" th:object="${article}"
              class="form-container" enctype="multipart/form-data">

            <!--Button Back to Article List-->
            <div class="form-group">
                <input type="button" value="Back" onclick="location.href='/article'"
                       class="btn btn-primary"/>
            </div>
                <input type="text" placeholder="Enter ID" th:field="*{id}"
                       hidden="hidden" class="form-control"/>
            <div th:classappend="${#fields.hasErrors('category')}? 'has-error'"
                 class="form-group">

                <label th:for="*{category}">Category:</label>
                <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                      th:class="help-block">Category Errors</span>

                <select name="category.id" class="form-control">
                    <option th:each="category : ${categories}" th:object="${category}"
                            th:value="*{id}" th:text="*{name}"></option>
                </select>
            </div>

            <!--Article Title Input-->
            <div th:classappend="${#fields.hasErrors('title')}? 'has-error'" class="form-group">

                <label th:for="*{title}">Title:</label>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                      th:class="help-block">Title Errors</span>
                <input type="text" placeholder="Enter Title" th:field="*{title}"
                       class="form-control"/>
            </div>

            <!--Article Description Input-->
            <div th:classappend="${#fields.hasErrors('description')}? 'has-error'"
                 class="form-group">

                <label th:for="*{description}">Description:</label>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                      th:class="help-block">description Errors</span>
                <input type="text" placeholder="Enter Description" th:field="*{description}"
                       class="form-control"/>
            </div>

            <!--Article Author Input-->
            <div th:classappend="${#fields.hasErrors('author')}? 'has-error'"
                 class="form-group">

                <label th:for="*{author}">Author:</label>
                <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                      th:class="help-block">author Errors</span>
                <input type="text" placeholder="Enter Author" th:field="*{author}"
                       class="form-control"/>
            </div>

            <!--Article Thumbnail Input-->
            <div class="form-group">
                <label for="file">Thumbnail:</label>
                <input type="file" name="image" class="form-control-file" id="file"/>
            </div>

            <!--Button Submit All Article Data-->
            <div class="form-group">
                <input type="submit" th:value="${formAdd}?'Save':'Update'"
                       class="btn btn-primary"/>
            </div>

        </form>

    </div>

</body>
</html>