<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div id="main" class="body-container" layout:fragment="content">

        <h1 th:text="#{article.list}">Article List</h1>
        <div class="data-table" style="width:96%;margin-left: 2%">
            <div class="form-group">
                <input type="button" th:value="#{button.add}" onclick="location.href='/add'" class="sh btn-lg round btn btn-primary"/>
            </div>

            <table  class="table table-striped"  >
                <thead class="thead-dark">
                <tr>
                    <th class="bg-color" scope="col" th:text="#{id}">ID</th>
                    <th class="bg-color" scope="col" th:text="#{category}">Category</th>
                    <th class="bg-color" scope="col" th:text="#{title}">Title</th>
                    <th class="bg-color" scope="col" th:text="#{description}">Description</th>
                    <th class="bg-color" scope="col" th:text="#{author}">Author</th>
                    <th class="bg-color" scope="col" th:text="#{createdate}">Created Date</th>
                    <th class="bg-color" scope="col" th:text="#{thumbnail}">Thumbnail</th>
                    <th class="bg-color" scope="col" th:text="#{option}">Option</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article:${articles}" th:object="${article}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{category.name}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{author}"></td>
                    <td th:text="*{createDate}"></td>
                    <td><img th:src="*{thumbnail}" alt="" style="width: 100px; height: 100px;"/></td>
                    <td>
                        <button type="button" class=" a btn btn-primary btn-lg round">
                            <a th:text="#{view}"  class="a" th:href="@{/article/{id}(id=*{id})}">View</a></button>
                        <button  type="button" class="a btn btn-primary btn-lg round">
                            <a th:text="#{update}" class="a" th:href="@{/edit/{id}(id=*{id})}">Edit</a><br/></button>
                        <button type="button" class=" a btn btn-primary btn-lg round">
                            <a th:text="#{delete}" class="a" th:href="@{/delete/{id}(id=*{id})}">Delete</a></button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        </div>
    </body>
</html>