<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${article.title}"></title>

</head>
<body>

    <div id="main" class="body-container" layout:fragment="content">

        <div class="content-container">
            <img th:src="${article.thumbnail}" alt="Image" class="content-image"/>

            <div style="font-size: 20px;margin-left: 5%">
                <br/><br/><br/>
                Title: <label th:text="${article.title}"></label><br/>
                Description: <label th:text="${article.description}"></label><br/>
                Author: <label th:text="${article.author}"></label><br/>
                Created Date: <label th:text="${article.createDate}"></label>
            </div>
        </div>

        <button style="width: 83px" type="button" class=" a btn btn-primary btn-lg round">
            <a class="a" href="/article">Back</a></button>
    </div>

</body>
</html>